/* .tuPerfil {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}

.datosAll {
  margin-top: 50px;
  margin-left: 30px;
  color: #4a442d;
}

.updateDatos {
  margin-bottom: 350px;
}

.botonEditar {
  background-color: #58b09c;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 30px;
}
