/* Imágenes */
img {
  width: 80%;
  height: 80%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 3/2;
}

.carousel img {
  width: 100%;
  height: 550px;
}

/* Contenedores */
.boxGames {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

/* Títulos */
.novedadesTittle,
.juegosTittle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* Juegos */
.juegos {
  flex-basis: 25%;
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  border-left: 1px solid rgba(79, 79, 79, 0.802);
  border-right: 1px solid rgba(79, 79, 79, 0.802);
}

.juegos img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* Barra de búsqueda */
.searcher {
  background-color: #58b09c;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Precios */
.precio {
  font-size: 20px;
}

/* Filtros */
.all,
.nintendo,
.ps4,
.ps5,
.xOne,
.xSeries {
  margin: 50px;
  border-radius: 10px;
  background-color: #58b09c;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.filterGames,
.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .boxGames {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px;
  }
  .filterGames {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
