.barra{
    background-image: url(https://img.redbull.com/images/q_auto,f_auto/redbullcom/2013/09/16/1331611589333_2/las-cosas-que-no-sab%C3%ADas-sobre-el-pac-man.jpg);
    background-position: 50%;
}

.nav-item{
    color: white !important;
    font-size: 30px !important;
}

.dropdown-toggle{
}

.navbar-brand{
    color: white !important;
    font-size: 30px !important;
    text-align: center !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    text-shadow: 2px 2px 4px #000000 !important;
    justify-content: center !important;
    display: flex !important;
    margin-left: 800px;
}

.nav-link{
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    text-shadow: 2px 2px 4px #000000 !important;
    justify-content: center !important;
    display: flex !important;
    color: #ffffff !important;
}