.login-container {
  margin: 100px auto;
  background-color: #caf7e2;
  display: flex;
  flex-direction: column;
  padding: 45px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border: 4px solid #58b09c;
  align-items: center;
  h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #4a442d;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
    label {
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      color: #4a442d;
    }
    input {
      margin-top: 10px;
      height: 40px;
      border-radius: 10px;
      border: 2px solid #58b09c;
      padding: 10px;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      color: #4a442d;
    }
    button {
      margin-top: 10px;
      height: 100%;
      border-radius: 10px;
      padding: 10px;
      border: 2px solid #58b09c;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      color: #caf7e2;
      background-color: #58b09c;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }
    }
    a {
      text-decoration: none;
      color: #4a442d;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      &:hover {
        color: #58b09c;
        cursor: pointer;
      }
    }
  }
}
